env:
  global:
  - ADB_INSTALL_TIMEOUT=8
  - EMU_FLAVOR=default
  - ANDROID_HOME=/usr/local/android-sdk
  - TOOLS=${ANDROID_HOME}/tools
  - PATH=${ANDROID_HOME}:${ANDROID_HOME}/emulator:${TOOLS}:${TOOLS}/bin:${ANDROID_HOME}/platform-tools:${PATH}
  - API=28
  - ABI=x86
  - AUDIO=-no-audio
language: android
dist: trusty
android:
  components:
  - tools
licenses:
- android-sdk-preview-license-.+
- android-sdk-license-.+
- google-gdk-license-.+
before_install:
- chmod +x gradlew
- gem update --system
- gem install bundler
- bundle install
- echo 'count=0' > /home/travis/.android/repositories.cfg
- echo y | sdkmanager "platform-tools" >/dev/null
- echo y | sdkmanager "tools" >/dev/null
- echo y | sdkmanager "build-tools;28.0.3" >/dev/null
- echo y | sdkmanager "platforms;android-$API" >/dev/null
- echo y | sdkmanager --channel=4 "emulator"
- echo y | sdkmanager "extras;android;m2repository" >/dev/null
script:
- "./gradlew clean assembleRelease"
deploy:
  provider: releases
  api_key:
    secure: COh6wWXLAzss/EYlTnZhHp/4bltlPv7iDnyj6D7qNVcqDxILPz0H0QCrPkKrXldH1alqVGa+/nmovhpVqd+oHY3wAqiGiuSpLBjQt5TVWpFGTF/RQry2omEqLp52GE1zxN5q9PCFjaAnN/jZwtS97CszCCjiI8Mm1uvfaX10Gxa8aOiST+zK/HGau5cFpiSGINp6BXUHEZJ/pHwJ78fy5MYMDTgsv77CtiudGG764LkvwzCkAYs7L5DXyTa2EmXlA/0gXKy92M3lgG5m06u0R65ryw3nxROmtEGDx0PMBuUjXwt5YWsijrDcNexGgqv2E72QMSC6sqFztJkC3wjG/0hmrwuEQXXSkDd3j1BNxT7xMifFXCiGiVprEaa8SDKeVg4zY+TTsfFBn/Ez1JmRO1ZCyDshRTCsGQio/GyYULFApZmeht4Cn/gzZVD+gtFQrc1BN33g/gIJdCfZKxzR18Cm/iUzNDT9HLDFdJkKkmGZALZK3Ds9g4UgU45bWkkQGAGXeLWAfwHyqSB3UL2DbLK1jFjik1G5sycwRLCwHZmeIMpCDUG0CYeWUjhG+QwQJ96lhp7KJS4YGE2Zd2vLO1N9kEArRvf5cq6bNkbVEBBupGJnRo72gZjVwJQ6HKhJnXKU8wjXnp9CGsvvxomRh48lV+6zwAEw3LFV/hGFtLc=
  file: app/build/outputs/apk/release/*.apk
  on:
    repo: TheCacophonyProject/bird-monitor
    tags: true