// This file can be used by build.gradle to store keystore details

// 1) Rename file by removing .template
// 2) Edit lines below to put in your information

storePassword=password
keyPassword=password
keyAlias=myKey
storeFile=E:/GoogleDrive/Work/Cacophonoy/keystores/android.jks