// This file can be used by build.gradle to store keystore details

// 1) Create a new file called keystore.properties at the top level of your project (ie at a higher level than the app folder)
// 2) Copy the lines below into the keystore.properties and change password to be your keystore password etc
// 3) In Android Studio go to File|Settings|Version Control|Ignored Files| and press + to add the keystore.properties file, to stop it being copied to GitHub

storePassword=password
keyPassword=password
keyAlias=myKey
storeFile=E:/GoogleDrive/Work/Cacophonoy/keystores/android.jks