<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nz.org.cacophony.cacophonometer">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_icon_name"
        android:supportsRtl="true"
        android:theme="@style/Cacophony"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".StartRecordingReceiver" />
        <receiver
            android:name=".LocationReceiver"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".MainService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_icon_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VitalsActivity"
            android:label="@string/title_activity_vitals" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".RootedActivity"
            android:label="@string/title_activity_rooted" />
        <activity
            android:name=".GPSActivity"
            android:label="@string/title_activity_gps" />
        <activity
            android:name=".WalkingActivity"
            android:label="@string/title_activity_walking" />
        <activity
            android:name=".UploadFilesActivity"
            android:label="@string/title_activity_upload_files" />
        <activity
            android:name=".TestRecordActivity"
            android:label="@string/title_activity_test_record" />
        <activity
            android:name=".InternetConnectionActivity"
            android:label="@string/title_activity_internet_connection" />
        <activity
            android:name=".SoundActivity"
            android:label="@string/title_activity_warning_sound" />
        <activity
            android:name=".BatteryActivity"
            android:label="@string/title_activity_ignore_low_battery" />
        <activity
            android:name=".FrequencyActivity"
            android:label="@string/title_activity_frequency" />
        <activity
            android:name=".TestingActivity"
            android:label="@string/title_activity_settings_for_testing" />
        <activity
            android:name=".DisableActivity"
            android:label="@string/title_activity_turn_off_or_on" />

    </application>

</manifest>